
/* FOOTER*/

footer{
    background-color: $bgcolor-secundario ;
    .imagen_footer{
      border: $borde-link-redes;
      border-radius: 50px;
      overflow: hidden;
      &:hover{
        width: 35%;
      }
    }
  }
  